<form action='#' method = "post">
        <p><input name = "id" placeholder="id" type = "number"></p>
        <p><input name = "user_id" placeholder="user_id" type = "number"></p>
        <p><input name = "category_id" placeholder="category_id" type = "number"></p>
        <p><input name = "record_data" placeholder="record_data" type = "data"></p>
        <p><input name = "record_sum" placeholder="record_sum" type = "number"></p>
        <p><input type = "submit" value="submit"></p>
    </form> 
